:root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  --hive-yellow: #fdc333;
  --background-grey: #363636;
  --tax-colour: #71972c;
  --super-colour: #33a2c6;
  --tax-colour: #ea9f21;
}

@keyframes spinAnimation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* 
animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite; */

#root {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
}

.global-div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* Allows summary to move below income on mobile */
  gap: 20px;
  width: 100%;

  /* Optional: keeps it from getting too wide on ultrawide monitors */
  margin: 0 auto;
  padding: 10px;
  max-width: 1920px;
}

#hive_logo {
  width: 40px;
  height: 40px;
  animation-name: spinAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  margin: 0px 5px 0px 5px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* Horizontal centering */
  /* align-items: center; */
  /* Vertical centering */
  min-height: 0;
  /* Takes full height of screen */
  /* width: 100vw; */
  /* Takes full width of screen */
  /* overflow: hidden; */
  /* Prevents scrolling */
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(0, 0, 0); */
  text-align: center;
  overflow: visible;
  /* overflow: scroll; */
}

/* td {
  border: 2px solid pink;
} */


@media (width < 1520px) {
  .global-div {
    flex-direction: column;
    align-items: center;
    /* width: 900px; */
  }

  body {
    overflow: visible;
  }

  .summary-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#income-div {
  flex: 1 1 auto;
  max-width: 650px;
  min-width: 0;
  width: 50%;
  box-sizing: border-box;
}

#summary-div {
  flex: 1 1 auto;
  max-width: 1400px;
  min-width: 0;
  box-sizing: border-box;
}

input:focus,
button:focus {
  outline: none;
}

#summary-table {
  /* width: 60vw; */
  max-width: 1400px;

}

/* @media (width > 1520px) {
  #chart-section {
    gap: 350px;
  }
} */
.chart-block {
  flex: 0 1 auto;
  /* Prevents blocks from stretching awkwardly */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  /* Ensures they don't get too squashed */
}

.pretax-savings {
  color: var(--hive-yellow);
  font-weight: bold;
  font-size: 22px;
}

#chart-section {
  display: flex;
  /* flex-direction: row; */
  /* border: 2px solid green; */
  width: 100%;
  max-width: 1400px;
  overflow: visible;
  justify-content: left;
  flex-wrap: wrap;

  justify-content: center;
  /* Centers both charts horizontally */
  align-items: flex-start;
  gap: 40px;
  /* Provides breathing room */
  padding: 20px;
}

.big-table-row {
  display: flex;
  flex-direction: row;
}

.big-table-cell {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#salary-cell {
  max-width: 300px;
}

#resetButton {
  border: solid 2px black;
}

#resetButton:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--hive-yellow);
  color: black;
  border: solid 2px var(--hive-yellow);
}

.annual-pay-div {
  background-color: var(--hive-yellow);
  color: black;
  font-weight: bold;
  height: 50px;
  font-size: 25px;
  text-align: left;
  width: 100%;
}

.payroll-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}