#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

table {}

#salary-box {
  color: black;
  text-align: left;
  background-color: #fdc333;
  width: 50%;
  height: 10vh;
}

#salary-box p {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

#salary-input {
  margin: 2px 10px 10px 10px;
  font-size: 30px;
  background: none;
  border: none;
}

#cycle-box {
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: #fdc333;
  width: 50%;
  height: 10vh;
}

#cycle-box p {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

#pay-cycle-input {
  margin: 2px 10px 10px 10px;
  font-size: 30px;
  background: none;
  border: none;
}

/* td {
  border-style: hidden !important;
} */

#summary-div {
  width: 60vw
}

#summary-table {
  width: 60vw
}

select>option {
  background-color: rgb(255, 255, 255);
  color: #fdc333;
}