:root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  --hive-yellow: #fdc333;
  --background-grey: #363636;
  --tax-colour: #71972c;
  --super-colour: #33a2c6;
  --tax-colour: #ea9f21;
}

#root {
  max-width: 1920px;
  height: auto;
  margin-top: 0px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* Horizontal centering */
  /* align-items: center; */
  /* Vertical centering */
  min-height: 0;
  /* Takes full height of screen */
  /* width: 100vw; */
  /* Takes full width of screen */
  /* overflow: hidden; */
  /* Prevents scrolling */
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(0, 0, 0); */
  text-align: center;
}

/* td {
  border: 2px solid pink;
} */
.global-div {
  display: flex;
  flex-wrap: wrap;
  /* Allows summary to move below income on mobile */
  gap: 20px;
  width: 100%;
  max-width: 1500px;
  /* Optional: keeps it from getting too wide on ultrawide monitors */
  margin: 0 auto;
  padding: 10px;
}

#income-div,
#summary-div {
  flex: 1 1 400px;
  /* Grow to fill space, shrink if needed, base width 400px */
  min-width: 0;
  /* Essential for allowing children to shrink */
  width: 100%;
  justify-content: center;
}

input:focus,
button:focus {
  outline: none;
}

#summary-table {
  width: 60vw;
  max-width: 1000px;
}

#chart-section {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  width: 60vw;
  max-width: 1600px;
  overflow: visible;
}

.big-table-row {
  display: flex;
  flex-direction: row;
}

.big-table-cell {
  display: flex;
  flex-direction: column;
}

#resetButton {
  border: solid 2px black;
}

#resetButton:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--hive-yellow);
  color: black;
  border: solid 2px var(--hive-yellow);
}

.annual-pay-div {
  background-color: var(--hive-yellow);
  color: black;
  font-weight: bold;
  height: 50px;
  font-size: 25px;
  text-align: left;
  width: 100%;
}