* {
    box-sizing: border-box;
}

.dropdown-container {
    width: 100%;
    border: 1px solid rgb(54, 54, 54);
    cursor: pointer;
    margin: auto;
    overflow: hidden;
    transition: max-height 0.7s cubic-bezier(0.4, 0, 0.4, 1);
    min-width: 0;
}

.income-table-takehome-cell {
    padding: 12px 15px;
    text-align: center;
}

.income-table-takehome-label {
    padding: 12px 15px;
    text-align: left;
}

.dropdown-container .dropdown-label {
    text-align: left;
    padding: 12px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    user-select: none;
}

.summary-label {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#summary-table {
    table-layout: fixed;
    width: 100%;
    /* Forces the table to match the parent's width */
    border-collapse: collapse;
    /* Prevents double borders from adding extra width */
    word-wrap: break-word;
    /* Ensures long text doesn't push the table wider */

}

#summary-table td {
    border: none;
}

.summary-tab {
    width: 100%;
    height: 50px;
    background-color: var(--hive-yellow);
}

.summary-tab-amount {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding: 15px;
}

.coloured-dot-div {
    width: 15px;
}

/* The DETAILS element holds the content to be revealed */
.dropdown-container .dropdown-details {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

/* Styles to apply when the container is expanded */
.dropdown-details.expanded {
    max-height: 500px;
}

/* Styling for the inner content (paragraph) */
.dropdown-container .dropdown-details p {
    padding: 15px;
    margin: 0;
    line-height: 1.6;
    color: #555;
    background-color: white;
    border-top: 1px solid #cecece;
}

.finance-dropdown-name {
    text-align: left;
    width: 100%;
}

.dropdown {
    padding: 10px 0px 0px 0px;
    background-color: #00000000;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    width: 100%;
    /* max-width: 1067px; */
}

@media (max-width: 1520px) {
    .dropdown {
        max-width: 600px;
    }
}

.dropdown-subdiv {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #00000000;
    color: white;
}

.dropdown-subdiv.expanded {
    max-height: 500px;
}

.expand-subdiv-vertical.expanded {
    max-height: 500px;
}

.expand-subdiv-horizontal.expanded {
    max-width: 500px;
}

.finance-dropdown-amount {
    text-align: right;
}

select>option {
    background-color: rgb(255, 255, 255);
    color: var(--hive-yellow);
}

.expand {
    position: relative;
    padding: 10px 0px 5px 0px;
    background-color: #00000000;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    width: 100%;
    max-width: 550px;
    margin: 20px 0px 20px 0px;
}


@media (max-width: 1520px) {
    .expand {
        max-width: 600px;
    }
}

.dropdown-button {
    /* display: flex; */
    background-color: grey;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    border: none;
    border-radius: 0px;
    height: 70px;
    width: 20px;
    padding: 5px;
    font-size: 10px;
}

.dropdown-button div {
    margin: 0px;
}

.switch-desc {
    text-align: left;
}


.dropdown-table td {
    padding: 0;
    vertical-align: middle;
}

.dropdown-table {
    width: 100%;
    max-width: 600px;
    table-layout: fixed;
    /* border: 2px solid var(--hive-yellow); */
    border-collapse: collapse;
    /* Removes space between cells */
    padding: 0;
}

.expand-subdiv-horizontal {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
    background-color: #00000000;
    color: white;
    position: absolute;
    margin: 30px 0px 0px 55px;
    white-space: nowrap;
}

.expand-subdiv-vertical {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #00000000;
    color: white;
    position: absolute;
    margin: 30px 0px 0px 55px;
    white-space: nowrap;
}

.expand-subdiv p {
    position: absolute;
}

.dropdown-sub-rows {
    width: 100%;
}

.dropdown-header {
    width: 100%;
    background-color: var(--background-grey);
}

.finance-dropdown-header-amount {
    text-align: right;
    padding: 15px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    user-select: none;
    font-size: 20px;
}

.coloured-dot-TaxableIncome {
    width: 20px;
    height: 60px;
    border-radius: 20px;
    background-color: #71972c;
    margin: 5px 5px 5px 10px;
    text-align: left;
}

.coloured-dot-Superannuation {
    width: 20px;
    height: 60px;
    border-radius: 20px;
    background-color: #33a2c6;
    margin: 5px 5px 5px 10px;
}

.coloured-dot-TotalTaxes {
    width: 20px;
    height: 60px;
    border-radius: 20px;
    background-color: #ea9f21;
    margin: 5px 5px 5px 10px;
}

.coloured-dot-Basesalary {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #71972c;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-Bonuspay {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #5f7e25;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-IncomeTax {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #ea9f21;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-MedicareLevy {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #81d100;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-Division293 {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #ea5a21;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-StudentLoan {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #d100b5;
    margin: 5px 5px 5px 0px;
}

.coloured-dot-LITO {
    width: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: #815912;
    margin: 5px 5px 5px 0px;
}

/* 1. Reset all table spacing */
.income-table,
.sub-table-header,
.income-table-header td,
.income-table-header-category td,
.income-table-name td {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.income-table-takehome-row tr {
    padding: 0;
}

.big-income-cell td {
    padding: 0;
}

.sub-sub-table-header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.sub-sub-table-header td {
    width: 20%;
}

/* 2. Remove the padding from the wrapper div */
.dropdown.row-drop {
    padding: 0;
    /* Changed from 10px */
    display: flex;
    width: 100%;
    align-items: stretch;
    /* Ensures button and table are same height */
}

/* 3. Ensure the inner table takes up all remaining space */
.sub-table-header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/* 4. Fix the button alignment */
.dropdown-button {
    flex-shrink: 0;
    /* Prevents button from squishing */
    height: auto;
    /* Lets it fill the row height */
    align-self: stretch;
}

/* 5. Force the cells to align with the headers */
.income-table-header td,
.sub-table-header td {
    width: 20%;
    /* Assuming 5 columns: 100/5 = 20% */
}

.income-table {
    width: 100%;
    /* background-color: var(--background-grey); */
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    /* user-select: none; */
    border-collapse: collapse;
    /* Removes space between cells */
    padding: 0;
    min-width: 724px;
}

.dropdown.row-drop {
    width: 100%;
    /* background-color: var(--background-grey); */
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    /* user-select: none; */
    border-collapse: collapse;
    /* Removes space between cells */
    padding: 0;
    min-width: 1000px;
}

.sub-table-header td {
    width: 200px;
    /* justify-content: center; */
    /* align-items: center; */
}

.income-table-header {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--hive-yellow);
    color: black;
    text-align: center;
}

.income-table-header-amount {
    text-align: left;
    padding: 12px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    user-select: none;
    background-color: grey;

}

.income-table-header-name {
    text-align: left;
    /* padding: 12px 15px; */
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    user-select: none;
    background-color: grey;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 4px;
    font-weight: bold;
    /* space between dot and text */
}

.income-table-name {
    text-align: left;
    padding: 5px 15px 5px 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    user-select: none;
    background-color: var(--background-grey);
    display: flex;
    align-items: center;
    gap: 4px;
}

.income-table-amount {
    text-align: left;
    padding: 12px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.3s ease;
    user-select: none;
}

.income-table-category {
    text-align: center;
    background-color: var(--background-grey);
}

.income-table-header-category {
    background-color: grey;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.income-table-takehome-row {
    background-color: var(--hive-yellow);
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-align: left;

}