.large-form {
    margin: 2px 10px 10px 10px;
    font-size: 30px;
    background: none;
    border: none;
}

.large-form-box {
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: var(--hive-yellow);
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
}

.large-dark-form-box {
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: var(--background-grey);
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    max-width: 550px;
}

@media (max-width: 1520px) {
    .large-dark-form-box {
        max-width: 600px;
    }
}


.large-dark-form-box p {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--hive-yellow);
    padding: 0px;
}

.large-form-box p {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}

.large-dark-form-box-header {
    background-color: black;
    height: 40px;
    padding: 1px;
    margin-bottom: 12px;
}

.large-form {
    margin: 2px 10px 10px 10px;
    font-size: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.large-dark-form {
    color: rgb(255, 255, 255);
    margin: 2px 10px 10px 10px;
    font-size: 30px;
    background: none;
    border: none;
    width: 90%;
    max-width: 600px;
    border-bottom: 2px solid var(--hive-yellow);
}