:root {
  /* overflow: hidden; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* --hive-yellow: #fdc333;
  --background-grey: #363636;
  --tax-colour: #71972c;
  --super-colour: #33a2c6;
  --tax-colour: #ea9f21;
  --yellow-tone-5: #a69370; */
  overflow: hidden;
}

@keyframes spinAnimation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* 
animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite; */

#root {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
}

.global-div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* Allows summary to move below income on mobile */
  /* gap: 20px; */
  width: 100%;

  /* Optional: keeps it from getting too wide on ultrawide monitors */
  margin: 0 auto;
  padding: 10px;
  max-width: 1920px;
}

#hive_logo {
  width: 40px;
  height: 40px;
  animation-name: spinAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  margin: auto 5px auto 5px;

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* Horizontal centering */
  /* align-items: center; */
  /* Vertical centering */
  min-height: 0;
  /* Takes full height of screen */
  /* width: 100vw; */
  /* Takes full width of screen */
  /* overflow: hidden; */
  /* Prevents scrolling */
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(0, 0, 0); */
  text-align: center;
  overflow: visible;
  /* overflow: scroll; */
}

/* td {
  border: 2px solid pink;
} */


@media (width < 1280px) {
  .global-div {
    flex-direction: column;
    align-items: center;
    /* width: 900px; */
  }

  body {
    overflow: visible;
  }

  .summary-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #income-div {
    flex-direction: column;
    /* margin: 10px 5px; */
  }

  #summary-section {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hive-benefits-cell {
    flex-direction: column;
  }

  .flex-cell {
    margin: 0px 5px;
  }

  .hive-shine {
    font-size: 24px;
  }

  #hive_logo {
    width: 30px;
    height: 30px;
  }

  #mortage-link-box {
    width: 95%;
  }
}

@media (width > 1280px) {
  .flex-cell {
    margin: 0px 5px;
  }

  .chart-block {
    padding: 0px 80px 0px 20px
  }

  #summary-section {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  #hive-benefits-cell {
    flex-direction: row;
  }

  .pretax-savings {
    font-size: 24px;
  }

  #mortage-link-box {
    width: fit-content;
  }
}

#mortage-link-box {
  display: flex;
  background-color: var(--hive-yellow);
  /* border-radius: 0px; */
  margin: 10px 0px;
  padding: 6px;
  justify-content: center;
  transition: 0.3s all ease;
  border-radius: 40px;
}

#mortage-link {
  color: black;
  font-size: 18px;
}

#mortage-link:hover {
  text-decoration: underline;
}


/* 
#mortage-container {
  display: flex;
  justify-content: center;
  background-color: black;
  width: fit-content;
  --c: var(--hive-yellow);
  --b: 25px;
  --g: 5px;
  padding: calc(var(--g));
  --_g: #0000 25%,
    var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s,
    background-position .3s;
  border-radius: 30px;
}

#mortage-container:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
  border-radius: 20px;
}

#mortage-container-container {
  display: flex;
  justify-content: center;
  margin: 5px 0px 10px 10px;
} */

#summary-section {
  display: flex;
  width: 100%;
}

#income-div {
  flex: 1 1 auto;
  /* min-width: 100%; */
  box-sizing: border-box;
  display: flex;
  /* flex-direction: row; */
  /* margin: 0px 50px; */
}

.flex-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  /* justify-content: baseline; */
}

#summary-div {

  flex: 1 1 auto;
  width: 100%;
  /* min-width: 40%; */
  /* min-width: 0; */
  box-sizing: border-box;
  margin: 0px 0px 0px 50px;
}

input:focus,
button:focus {
  outline: none;
}

.table-container {
  width: 100%;
  /* Ensure it takes the full width available */
  overflow-x: auto;
  /* Enable horizontal scroll when content overflows */
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling for iOS devices */
  display: block;
  margin-bottom: 15px;
  /* Ensures the container behaves as a block for overflow */
}

#summary-table {
  width: 100%;
  /* Try to fit the width first */
  min-width: 600px;
  /* Optional: Force a minimum width to trigger scroll earlier */
  border-collapse: collapse;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 768px) {

  /* .table-container {
    width: 100%; 
    margin: 0 auto;
    border: 1px solid #ddd;
  } */

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }


  .payroll-options {
    font-size: 24px
  }

  /* #summary-table {
    min-width: 600px;

    width: 100%;
    margin: 0px;
  } */

  .pretax-savings {
    font-size: 20px;
  }

  #mortage-input {
    display: flex;
    flex-direction: column;
  }
}

/* @media (width > 1360px) {
  #chart-section {
    gap: 350px;
  }
} */
.chart-block {
  flex: 0 1 auto;

  display: block;

  align-items: baseline;
  min-width: 300px;
  flex-direction: row;
  /* margin-right: 20px; */

}

.pretax-savings {
  color: var(--hive-yellow);
  font-weight: bold;
}

#chart-section {
  display: flex;
  /* flex-direction: row; */
  /* border: 2px solid green; */
  width: 100%;
  max-width: 1400px;
  overflow: visible;
  justify-content: left;
  flex-wrap: wrap;

  justify-content: center;
  /* Centers both charts horizontally */
  align-items: flex-start;
  gap: 40px;
  /* Provides breathing room */
  padding: 20px;
}

#hive-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Add these */
  /* margin-left: auto;
  margin-right: auto;
  width: 90%; */
  /* Ensures it doesn't stretch to 100% width */
}

#payroll-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add these */
  /* margin-left: auto;
  margin-right: auto;
  width: 90%; */
  /* Ensures it doesn't stretch to 100% width */
}

#hive-benefits-cell {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: flex-start;
  /* Add these */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: black;


  /* flex-direction: row; */
}

.benefits-table-cell {
  vertical-align: top;
  /* If you are using flexbox inside the cell, add this too: */
  display: table-cell;
}

.big-table-row {
  display: flex;
  flex-direction: row;
}

.big-table-cell {
  /* margin-left: 4%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: baseline;
  margin: 10px 5px;
  /* align-items: center; */
}

/* .hive-benefits {
  background-color: black;
} */

#salary-cell {
  max-width: 300px;
}


#payroll-button {
  color: black;
  font-weight: bold;
  background-color: var(--hive-yellow);
  border: var(--hive-yellow) 4px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  transition: all 0.2s;
}

#payroll-button:hover {
  color: var(--hive-yellow);
  font-weight: bold;
  background-color: black;
  border: var(--hive-yellow) 4px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

#resetButton {
  border: solid 2px black;
}

#resetButton:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--hive-yellow);
  color: black;
  border: solid 2px var(--hive-yellow);
}

.annual-pay-div {
  background-color: var(--hive-yellow);
  color: black;
  font-weight: bold;
  height: 50px;
  font-size: 25px;
  text-align: left;
  width: 100%;
}

.payroll-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hive-shine {
  text-decoration: none;
  display: inline-block;
  margin: 5px 0px 0px 0px;
  color: var(--hive-yellow);
}

.payroll-options {
  text-decoration: none;
  display: inline-block;
  margin: 2px 0px 2px 0px;
  padding: 5px;
  color: var(--hive-yellow);
}

#benefits-table {
  width: 100%;
}

#savings-cell {
  padding-right: 20px;
  text-align: right;
}

.hive-benefits-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: 22px;
}


.hive-subheader {
  text-decoration: none;
  display: inline-block;
  color: var(--hive-yellow);
  font-style: italic;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#hive-benefits {
  --c: #fdc333;
  /* the border color */
  --b: 11px;
  /* the border thickness*/
  --g: 5px;
  /* the gap on hover */
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  --_g: #0000 25%, var(--c) 0;
  background:
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s, background-position .3s;
  cursor: pointer;
}

#hive-benefits:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

#hive-benefits.open {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

.dropdown.row-drop.Payroll {
  --c: var(--hive-yellow);
  --b: 10px;
  --g: 15px;
  padding: calc(var(--g));
  --_g: #0000 25%, var(--c) 0;
  background:
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s, background-position .3s;
  border-radius: 20px;
  cursor: pointer;
  /* padding: 0px 5px */
}

.dropdown.row-drop.Payroll:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
  border-radius: 20px;
}

.dropdown.row-drop.Payroll.open {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
  border-radius: 0px;
}